<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="forgot-container" fxFlex="100%" fxLayoutAlign="center center" >
        <mat-card class="main" >
            <div class="section1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
               <div class="img"> <img src="../../../assets/education.svg" alt="" width="31px" height="24px"> </div>
                <div class="text">
                    Bookstore
                </div>
            </div>
           <div class="section2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
               <div class="text1">Forgot your Password?</div>
               <mat-card class="section3"  fxLayout="column"  fxLayoutGap="15px">
                    <div class="text2">Enter your email address and we'll send you a link to reset your password.</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-card-subtitle class="sub-title">Email Id</mat-card-subtitle>
                            <input matInput placeholder="email" class="input-field" type="email">
                        </mat-form-field>
                    </div>
                    <button class="reset-btn">Reset Password</button>
                    <button class="create-btn" >
                        Create Account
                    </button>
               </mat-card>
           </div>
        </mat-card>
    </div>
</form>