
.main{
    top: 75px;
    left: 0px;
    height: 520px;
    width: 1000px;
    background-color: white;
    padding: 0;
    border: 1px solid #E4E4E4;
}

.section1{
    background-color: #A03037;
    padding: 0;
    height: 40px;
}

.img{
    position: relative;
    left: 100px;
}

.text{
    position: relative;
    left: 100px;
    color: white;
}

.text1{
    font-size: 25px;
    font-family: sans-serif;
}

.text2{
    font-size: 15px;
    font-family: sans-serif;
}

.section2{
    background-color: white;
    position: relative;
    top: 90px;
    width: 317px;
    left: 330px;
}

.section3{
    border: 1px solid #E4E4E4;
    width: 309px;
    padding: 21px;
}

.sub-title{
    font-size: 10px;
    font-family: sans-serif;
    margin-top: -10px;
}

.reset-btn{
    border: none;
    color: white;
    background-color: #A03037;
    width: 263px;
    padding: 5px;
}

.create-btn{
    border: none;
    color: white;
    background-color: #E4E4E4;
    width: 263px;
    padding: 10px;
}

.input-field{
    position: relative;
    top: -9px;
    padding: 4px;
    width: 210px;
}

::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px 0px !important; width: 239px; border-top: 0.84375em;}
