<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container" fxFlex="100%" fxLayoutAlign="center center" >
            <mat-card class="card1" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/login-icon" alt="" height="170px" width="170px" style=" border-radius: 120px; " >
                <p class="text">ONLINE BOOK SHOPPING</p>
            </mat-card>
        
            <mat-card class="card2">
        
               <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="85px">
                <button class="card-title" (click)=login()>LOGIN</button>
                <button class="card-title" (click)=signup()>SIGNUP</button>
               </div>
               <div>
                   <button class="line"></button>
               </div>
                <mat-card-content fxLayout="column" class="content" >
                    <div class="content1">
                        <mat-form-field appearance="outline">
                            <mat-card-subtitle class="sub-title">Email Id</mat-card-subtitle>
                            <input matInput  placeholder="email" class="input-field" type="email" formControlName="email">
                        </mat-form-field>
                    </div>
                   
                  <div class="content2">
                    <mat-form-field appearance="outline">
                        <mat-card-subtitle class="sub-title">Password</mat-card-subtitle>
                        <input matInput placeholder="password" class="input-field" type="password" autocomplete="on" formControlName="password">
                    </mat-form-field>
                  </div>

                   <p class="forgot-link" routerLink="/forgot-password">Forget Password?</p>

                  <div class="footer" fxLayout="column" fxLayoutGap="15px">
                    <button class="login-btn">Login</button>

                    <div>
                        <h2><span>OR</span></h2>
                    </div>

                    <div  fxLayout="row" fxLayoutAlign="start end" class="footer-btn" fxLayoutGap="5px" >
                        <button class="end-btn f-btn">Facebook</button>
                        <button class="end-btn g-btn">Google</button>
                    </div>
                  </div>
                   
                </mat-card-content>
            </mat-card>
        </div>
</form>
