.place-order{
    position: relative;
    top: 20px;
}

.text{
    font-size: 40px;
}

.sec2{
    position: relative;
    font-size: 20px;
}

.text2{
    position: relative;
    left: 48px;
    top: -32px;
}

.text3{
    position: relative;
    left: 80px;
    top: -19px;
}

.text4{
    margin-top: -48px;
}


.button{
    position: relative;
    top: -5px;
}

.shoping{
    padding: 10px;
    width: 200px;
    color: white;
    background: #3371B5;
}

table, th, td {
    border: 1px solid black;
 }