<div class="place-order" fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
   <div class="sec1">
    <!-- <p class="text">Order Placed Sucessfully</p> -->
    <img src="../../../assets/placeOrder.png" alt="">
   </div>
   <div class="sec2">
    <p class="text2">hurray!!! your order is confirmed </p>
    <p class="text4">the order id is #123456 save the order id for </p>
    <p class="text3">further communication..</p>
   </div>
   <TABLE style="border: none; position: relative; top: -30px;" BORDER="0" WIDTH="70%" CELLPADDING="10" CELLSPACING="0">
    <TR style="border: 1px solid #DCDCDC;background-color: gainsboro">
        <TH COLSPAN="1">
            <H3 style="text-align: center;">Email</H3>
        </TH>
        <TH COLSPAN="1">
            <H3 style="text-align: center;">Contact us</H3>
        </TH>
        <TH COLSPAN="1">
            <H3 style="text-align: center;">Address</H3>
        </TH>

    </TR>
    <TR  >
        <TH style="color: #333232;opacity: 0.71;"> admin@bookstore.com</TH>
        <TH style="color: #333232;opacity: 0.71;">7387557696</TH>
        <TH style="text-align: start;color: #333232;opacity: 0.71; ">45, Artillary road,Nashik Maharashtra</TH>

    </TR>

</TABLE>
   <div class="button">
       <button class="shoping">
           CONTINUE SHOPPING
       </button>
   </div>
</div>
