.signup-container{
    height: 695px;
    width: 1367px;
    background-color: #00000029;
    
}

.card1{
    background-color:#F5F5F5;
    height:345px;
    width: 290px;
    border-radius: 18px;
}

.card2{
    background-color: white;
    height: 350px;
    width: 315px;
    border-radius: 8px;
    z-index: 1;
    margin-left: -20px;
}

.text{
    position: relative;
    top: 23px;
}
    
    
.card-title{
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    width: 97px;
    background-color: white;
    margin-left: -15px;
}


.content{
    position: relative;
    left: 40px;
    top: 10px;
}

.input-field{
    position: relative;
    top: -9px;
    padding: 4px;
    width: 210px;
}

.forgot-link{
    position: relative;
    top: -20px;
    left: 127px;
    font-size: 12px;
    font-family: sans-serif;
    opacity: 0.5;
    cursor: pointer;
}


.sub-title{
    font-size: 10px;
    font-family: sans-serif;
    margin-top: -10px;
}

.content4{
    position: relative;
}

.btn{
    position: relative;
    top: 10px;
    width: 225px;
    background-color: #A03037;
    padding: 7px;
    border: none;
    color: white;
}

.content{
    position: relative;
    left: 40px;
}

.login-btn{
    position: relative;
    top: -15px;
    width: 221px;
    padding:6px;
    background-color: #A03037;
    border: none;
    color: white;
}

.divider{
    position: relative;
    left: 100px;
    top: -20px;
}

.footer-btn{
    position: relative;
    top: -20px;
    color: white;

}

.end-btn{
    padding: 4px;
    width: 108px;
    
}

.f-btn{
    background-color:#4266B2;
    border: none;
    color: white;
}

.g-btn{
    background-color:#E4E4E4;
    border: none;
    color: white;

}

.validation-alert{
    color: red;
}

::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px 0px !important; width: 202px; border-top: 0.84375em;}


.line{
    position: relative;
    left: 219px;
    top: -6px;
    width: 26px;
    padding: 1px;
    background-color: brown;
    opacity: 100%;
    border-radius: 50px;
}












