<div class="main-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="head1" fxLayout="row" fxLayoutGap=" 5px">
            <p class="text1">Books</p>
            <p class="text2">({{bookcount}}_items)</p>
        </div>
        <div class="sorting" fxLayout="row wrap" [ngClass.sm]="'sorting-div'">
            <mat-form-field appearance="fill">
                <mat-label *ngIf="hideTitle">Sort by relevance</mat-label>
                <mat-select style="height: 10px;">
                    <mat-option (click)="sortlowtohigh()" value="option1">Price:Low to High</mat-option>
                    <mat-option (click)="sorthightolow()" value="option2">Price:High to Low</mat-option>
                    <mat-option (click)="newestarrivalse()" value="option3">Newest Arrivals</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="example-spacer"></div>

    </div>
</div>

<div fxLayout="row wrap" class="all-books" fxLayoutAlign="start center" fxLayoutGap="20px">

    <div *ngFor="let book of booksArray | 
                paginate: { itemsPerPage: 9, 
                            currentPage: page,
                            totalItems: totalLength }">

        <div class="book-con" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <div class="img" (click)="onBookDetails(book)">
                <img src="../../../assets/Image 11.png" width="105px" height="135px" alt="">
            </div>
        </div>

        <div class="details" fxLayout="column" fxLayoutAlign="space-evenly center">
            <b class="name-container">
                {{book.bookName}}
            </b>
            <mat-card-subtitle class="authorName">
                by {{book.author}}
            </mat-card-subtitle>


            <div fxLayout="row" fxLayoutAlign="space-evenly center" class='ratingbox'>
                <button class="green-btn" mat-raised-button fxLayoutAlign="center center">
                    4.5<img src="../../../assets/star_white_24dp.svg" height="10px" width="10px" class="star">
                </button> ({{book.quantity}})
            </div>

            <div class="price" fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-left: -75px;"
                fxLayoutGap="10px">
                <p class="actualprice" *ngIf="book?.discountPrice>0">Rs. {{book?.price-book.discountPrice}}</p>
                <p class="discountPrice" *ngIf="book?.discountPrice>0"><del>Rs. {{book?.price}}</del></p>
            </div>
        </div>

        <div fxLayout="column" class="cart-wish">
            
            <mat-icon class="fav-icon" (click)="addtowishlist(book)">favorite</mat-icon>
            <button mat-icon-button aria-label="Example cart icon" class="cart-btn" (click)="addtobag(book)">
                <img src="../../../assets/cart.svg" alt="" class="profile-icon" height="28px" width="17px">
            </button>
        </div>
    </div>

    <div class="pagination-div" fxLayout="row" fxLayoutAlign="start">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>